<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <div id="server-setting">
        <div>
            <p>Web Status: </p>
            <p>active</p>
        </div>
    </div>

    <div id="server-data">
        <div>
            <p>uploaded files: </p>
            <p>0</p>
        </div>
    </div>


    <div id="admin-messages">
        <div>
            <p>uploaded files: </p>
            <p>0</p>
        </div>
    </div>

    <div id="admin-questions">
        <div>
            <p>uploaded files: </p>
            <p>0</p>
        </div>
    </div>
</body>
</html>